/***********************************************
              Defining New Fonts
***********************************************/
@font-face {
    font-family: bigFunnyFont;
    src: url("../fonts/SansitaSwashed-Medium.ttf");
}

@font-face {
    font-family: bigFunnyFontBold;
    src: url("../fonts/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: normalFont;
    src: url("../fonts/Kalam-Regular.ttf");
}

/***********************************************
            Panels Configurations
***********************************************/
.main-panel{
    font: normalFont;
    min-height: 91%;
    background-color: #161a1d;
}
.right-panel {
    min-height: 100%;
}

.middle-panel{
    min-height: 100%;
}

.left-panel {
    min-height: 100%;
}

/***********************************************
              Add New Layer Button
***********************************************/
.new-layer-button-parent{
    margin-top: 50px;
}

#new-layer-button {
    border: 1px solid #db3a34;
    font-family: bigFunnyFont;
    border-radius: 20px;
    color: #db3a34;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 30;
    transition: all 0.5s ease-in-out;
}

#new-layer-button:hover,
#new-layer-button:focus{
    font-size: 32px;
}


/***********************************************
                     Credit
***********************************************/
.credit-parent{
    font-family: bigFunnyFont;
    background-color: #161a1d;
    min-height: 5%;
    color: #eeef20;
}

/***********************************************
               Framework Selector
***********************************************/
#framework-selector {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    font-family: normalFont;
    font-size: 20;
}

/***********************************************
            Optimizer Configurations
***********************************************/
#optimizer-selector {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    font-family: normalFont;
    font-size: 20;
}

#optimizer-lr {
    font-family: normalFont;
    text-align: center;
    border-radius: 15px;
    font-size: 20;
    width: 50%;
}


/***********************************************
          Loss Function Configurations
***********************************************/
#loss-function-selector {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    font-family: normalFont;
    font-size: 20;
}

/***********************************************
              Train Configurations
***********************************************/
#epoch {
    font-family: normalFont;
    text-align: center;
    border-radius: 15px;
    font-size: 20;
    width: 30%;
}

#batch {
    font-family: normalFont;
    text-align: center;
    border-radius: 15px;
    font-size: 20;
    width: 30%;
}

/***********************************************
                   Generate
***********************************************/
.generate-parent {
    margin-top: 20%;
}

#generate-button {
    border: 1px solid #db3a34;
    font-family: bigFunnyFont;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
    color: #db3a34;
}

#generate-button:hover,
#generate-button:focus{
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
}
/***********************************************
                   Headings
***********************************************/
.main-heading-3 {
    font-family: bigFunnyFont;
    color: #eeef20;
}

.main-heading-2 {
    font-family: bigFunnyFontBold;
    font-size: 25px;
    color: #db3a34;
}

.heading-2-parent {
    margin-top: 20%;
}

.heading-3-parent {
    margin-top: 3%;
}


/***********************************************
                Input Fields
***********************************************/
input::-webkit-calendar-picker-indicator {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    background-color: #ffd000;
    border-color: black;
}


/***********************************************
                    Title Bar
***********************************************/
#title-bar {
	-webkit-app-region: drag;
	height: 4%;	
	padding: 0px;
    margin: 0px;  
	background-color: #0c0e0f;
    font-family: sans-serif;
    color: #db3a34;
    font-family: bigFunnyFontBold;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;	
	line-height: 32px;
    font-size: 25px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;	
}

#title-bar-btns a {
	height: 32px;
    width: 32px;
    margin-right: 15px;
	background-color: transparent;
	border: none;
    font-size: 25px;
    color: #db3a34;
    font-family: normalFont;
    transition: all 0.3s ease-in-out;
}

#title-bar-btns a:hover {
    cursor: pointer;
    color: #eeef20;
}