/***********************************************
              Defining New Fonts
***********************************************/
@font-face {
    font-family: bigFunnyFont;
    src: url("../fonts/SansitaSwashed-Medium.ttf");
}

@font-face {
    font-family: bigFunnyFontBold;
    src: url("../fonts/SansitaSwashed-Bold.ttf");
}

@font-face {
    font-family: normalFont;
    src: url("../fonts/IndieFlower-Regular.ttf");
}

/***********************************************
            Panels Configurations
***********************************************/
.main-panel{
    font: normalFont;
    min-height: 95%;
}
.right-panel {
    min-height: 100%;
}

.middle-panel{
    min-height: 100%;
}

.left-panel {
    min-height: 100%;
}

/***********************************************
              Add New Layer Button
***********************************************/
.new-layer-button-parent{
    margin-top: 20px;
}

#new-layer-button {
    border: 1px solid black;
    font-family: bigFunnyFont;
    border-radius: 20px;
    color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 30;
    transition: all 0.5s ease-in-out;
}

#new-layer-button:hover,
#new-layer-button:focus{
    font-size: 32px;
}


/***********************************************
                     Credit
***********************************************/
.credit{
    font-family: bigFunnyFont;
}

/***********************************************
               Framework Selector
***********************************************/
#framework-selector {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    font-family: normalFont;
}

/***********************************************
            Optimizer Configurations
***********************************************/
#optimizer-selector {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    font-family: normalFont;
}

/***********************************************
                   Headings
***********************************************/
.main-heading-3 {
    font-family: bigFunnyFont;
}

.main-heading-2 {
    font-family: bigFunnyFontBold;
}

.heading-2-parent {
    margin-top: 20%;
}

.heading-3-parent {
    margin-top: 3%;
}